<app-navbar></app-navbar>

<div id="hero-section" class="hero-section">

    <div class="row justify-content-center align-items-center">

      <div class="col-md-auto col-lg-6">

        <div class="card text-center description">

          <h1 class="card-title">La solución perfecta para tu negocio</h1>

          <h3 class="card-subtitle mb-2">En Donatello te ayudamos a mejorar tus operaciones, tomar decisiones acertadas y conectar con tus clientes. Nos adaptamos a tu presupuesto con herramientas fáciles de usar.</h3>

          <h3 class="card-text">Transforma tu restaurante hoy!</h3>

          <button class="btn btn-success rounded-pill">Comienza tu prueba gratis!</button>

        </div>

      </div>

      <div class="col-md-6 col-lg-6">
        <div class="image-container d-flex justify-content-center align-items-center">
            <img src="./assets/1.webp" class="img-fluid rounded-corner image" alt="Imagen de restaurante">
        </div>
      </div>

    </div>

  </div>

<app-footer></app-footer>