:root {
  --black: #060215;
  --gray100: #e6e5e5;
  --gray300: #c2bdbd;
  --white: #f8f8f8;

  --greenTurtle: #018744;
  --purpleTurtle: #5b00a7;
  --redTurtle: #e93c3c;

  --greenLight: #86dfb3;
  --purpleLight: #ceb2e6;
  --redLight: #ff9e9e;

  --font-family: "Lato";
}

.card {
  max-width: 300px;
}

.welcome-greeting {
  color: var(--purpleTurtle);
  font-weight: 500;
  font-family: var(--font-family);
}

.text-muted {
  font-family: var(--font-family);
}
