.registerForm-container {
  display: flex;
  height: 100vh;
  background-color: #000000; // Fondo negro
  
  &__image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }

  &__form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .registerForm {
      width: 60%;
      max-width: 400px;
      padding: 20px;
      background: #ffffff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      h1 {
        text-align: center;
        margin-bottom: 20px;
      }

      form {
        width: 100%;

        mat-form-field {
          width: 100%;
          margin-bottom: 20px;
          background-color: #ffffff;
        }

        input {
          color: #000;
          background-color: transparent;
        }

        button {
          width: 100%;
          background-color: #5b00a7;
          color: white;

          &:hover {
            background-color: darken(#5b00a7, 10%);
          }
        }
      }

      hr {
        width: 100%;
        margin: 20px 0;
      }

      .small-text {
        text-align: center;
        display: block;
        margin-top: 20px;

        a {
          color: #5b00a7;
          text-decoration: none;
        }
      }
    }
  }
}
