<footer class="navbar navbar-expand-lg bg-body-tertiary footer-position footer-color">    
    <div class="container-fluid">
        <a class="footer-logo"><img src="./assets/logo.png"></a>

        <form class="form-inline">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="inputEmail" class="col-form-label">Newsletter</label>
                </div>
                <div class="col-auto">
                    <div class="input-group">
                        <input type="text" class="form-control rounded custom-subscribe-input" id="inputEmail" placeholder="Tu email" aria-label="Tu email" aria-describedby="tu-email">
                        <div class="input-group-append">
                            <button class="btn btn-primary custom-subscribe-botton rounded-circle" type="submit"><i class="bi bi-send-fill"></i></button>  
                        </div>
                    </div>
                </div>
            </div>
          </form>

        <ul class="nav col-md-2 justify-content-end">
            <div class="row row-cols-1">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Links</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Sobre nosotros</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Politicas de privacidad</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Cookies</a></li>
            </div>
        </ul>
    </div>
  </footer>
  <div class="text-center">
    <p>Donatello© CopyRight 2024 - Todos los derechos reservados</p>
  </div>