div{
  height: 100%;
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
}

.top{
  height: 45%;
  display: flex;
  flex-direction: row;
  
  margin-bottom: 0;
  padding: 0;
}

.detalle{
  flex-direction: column;
  width: fit-content;
  margin: 1rem;
}

h3{
  font-weight: bold;
}



hr{
  margin: 0;
  padding: 0;
  width: 80%;
  border-top: 3px solid var(--black);
  border-radius: 50px;
}

.bottom{
  height: 45%;
}

