.container{
  background-color: #c2bdbd;
}

.row{
  margin: 0;
  padding: 0;
}
.col{
  margin: 0;
  padding: 0;
}

main{
  margin: 0;
  padding: 0;
}
aside{
  margin: 0;
  padding: 0;
}
section{
  margin: 0;
  padding: 0;
}

app-ganancias{
  
  
  
}

