<section>
  <h2>Agenda de Proveedores</h2>
  <hr>

  <div class="container p-table">
    <table class="fondo table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Empresa</th>
          <th>Contactado por última vez</th>
          <th>Teléfono</th>
          <th><button type="button" data-bs-toggle="modal" data-bs-target="#modalNuevo">Nuevo</button></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prov of proveedores">
          <td>{{prov.id}}</td>
          <td>{{prov.nombre}}</td>
          <td>{{prov.empresa}}</td>
          <td>{{prov.contacto}}</td>
          <td>{{prov.telefono}}</td>
          <td><button type="button" data-bs-toggle="modal" data-bs-target="#modalModificar">Modificar</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-form-proveedores></app-form-proveedores>


</section>



<!-- Modal -->
<div class="modal fade" id="modalModificar" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar proveedor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-form-proveedores #formProveedores></app-form-proveedores>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" >Guardar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalNuevo" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo proveedor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-form-proveedores #formProveedores></app-form-proveedores>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
