<div class="login-container">
  <div class="row no-gutters">
    <div class="col-md-6 justify-content-center">
      <img src="./assets/3.jpg" class="img-fluid login-container__image" alt="" style="height: 100%; object-fit: cover;">
    </div>
    <div class="col-md-6">
      <div class="card h-100">
        <div class="card-body">
          <div class="title-position">
            <h1 class="card-title">Iniciar sesión</h1>
          </div>
          <form class="form-login" [formGroup]="form" (ngSubmit)="logIn()">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" formControlName="email" [ngClass]="{
                'is-invalid':
                  formControl['email'].invalid &&
                  (formControl['email'].dirty ||
                    formControl['email'].touched)
                }"
              />
              <div class="invalid-feedback" *ngIf="isEmailValid as messsage">{{ messsage }}</div>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <div class="input-group">
                <input type="password" class="form-control rounded password-input" formControlName="password" [type]="hide ? 'password' : 'text'">
                <div class="input-group-append">
                    <button class="btn btn-primary show-password-botton rounded-circle" type="button" (click)="hide = !hide">
                      <i class="bi bi-eye" *ngIf="hide"></i>
                      <i class="bi bi-eye-slash" *ngIf="!hide"></i>
                    </button>  
                </div>
              </div>
              <div class="invalid-feedback">Este campo es requerido</div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-login">Iniciar sesión</button>
            </div>
          </form>
          
          <app-button-providers [isLogin]="true" />
          <p class="small-text log-in-redirect">
            ¿Aún no tienes cuenta?
            <a class="registry-link" routerLink="/auth/sing-in/">Regístrate.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>