<div class="container">
  <table class="table-sm">

    <thead>
      <tr>
        <th>{{title$ | async}}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let ing of ingredientes">
        <td>{{ing.name}}</td>
        <td>{{ing.cantidad}} {{ing.medida | medida}}</td>
        <td>{{ing.coste | currency:'ARS':'symbol-narrow'}}</td>
      </tr>
    </tbody>

    <tfoot *ngIf="ingredientes && ingredientes.length > 0">
      <tr class="precio">
        <td class="bold">Total precio costo:</td>
        <td class="bold">{{total | currency:'ARS':'symbol-narrow'}}</td>
      </tr>
      <tr class="precio">
        <td class="grey">Precio sugerido venta al publico:</td>
        <td class="grey">{{total*2 | currency:'ARS':'symbol-narrow'}}</td>
      </tr>
    </tfoot>
  </table>
</div>
