:root {
  --black: #060215;
  --gray100: #e6e5e5;
  --gray300: #c2bdbd;
  --white: #f8f8f8;

  --greenTurtle: #018744;
  --purpleTurtle: #5b00a7;
  --redTurtle: #e93c3c;

  --greenLight: #86dfb3;
  --purpleLight: #ceb2e6;
  --redLight: #ff9e9e;
}

.content-container {
  background-color: var(--gray100);
}

tbody tr:hover {
  td {
    color: var(--redTurtle);
  }
}

thead th {
  position: sticky;
  top: 0px;
  left: 0px;
}

table {
  width: 100%;
  margin: 0;
  padding: 0;
}

tbody {
  height: 300px;
  overflow: auto;
  width: 100%;
  display: block;
  float: left;
}

thead {
  display: block;
  border-radius: 0.6rem;
}

.table-wrapper {
  border-radius: 0.6rem;
  overflow: hidden;
  background-color: var(--white);
}

.table {
  border-radius: 0.6rem;
  width: 100%;
}

tbody tr {
  width: 100%;
  display: inline-table;
}

thead tr {
  width: 100%;
  display: inline-table;
}

tbody::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
tbody::-webkit-scrollbar-thumb {
  background: var(--gray300); /* Color del thumb del scrollbar */
  border-radius: 0.5rem; /* Esquinas redondeadas del thumb */
  visibility: hidden;
}

tbody:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.title {
  font-weight: 600;
}

.fondo {
  background-color: var(--white);
}

.table {
  background-color: var(--white);
}

.table th {
  background-color: var(--white);
  text-align: center;
}
.table td {
  background-color: var(--white);
  text-align: center;
}

.container {
  margin-top: 2rem;
}

.button-edit {
  background-color: var(--white);
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.button-show-supplier {
  background-color: var(--greenLight);
  color: var(--white);
  border: none;
  cursor: pointer;
  width: 80px;
  height: 30px;
}

.boton {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.btn-primary {
  background-color: var(--purpleTurtle);
  border-color: var(--purpleTurtle);
}
