<div class="container-fluid py-5">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8 text-center">
        <div class="error-container">
          <img src="assets/logo.png" alt="404 Image" class="img-fluid">
          <h1 class="display-3">Oops! Page Not Found</h1>
          <p class="lead">We couldn't find what you're looking for.</p>
          <p class="text-muted">Try checking the URL or searching for what you're looking for.</p>
          <button class="btn btn-primary btn-lg" routerLink="/">Go back to home</button>
        </div>
      </div>
    </div>
  </div>