<form class="container" (ngSubmit)="onSubmit()" autocomplete="off" [formGroup]="formulario" name="prov-form">
  <div class="row">
    <div class="col">
      <label class="form-label" for="nombre">Nombre</label>
      <div>
        <input class="form-control" type="text" placeholder="Proveedor" formControlName="nombre">
        <span class="form-text" *ngIf="formulario.controls['nombre'].errors && formulario.controls['nombre'].touched">
          Campo Requerido
        </span>
      </div>
    </div>
    <div class="col">
      <label class="form-label" for="empresa">Empresa</label>
      <div>
        <input class="form-control" type="text" placeholder="Nombre de la Empresa" formControlName="empresa">
        <span class="form-text" *ngIf="formulario.controls['empresa'].errors && formulario.controls['empresa'].touched">
          Campo Requerido
        </span>
      </div>
    </div>
    <div class="col">
      <label class="form-label" for="contacto">Ultimo Contacto</label>
      <div>
        <input class="form-control" type="date" placeholder="dd/mm/aaaa" formControlName="contacto">
        <span class="form-text" *ngIf="formulario.controls['contacto'].errors && formulario.controls['contacto'].touched">
          Campo Requerido
        </span>
      </div>
    </div>
    <div class="col">
      <label class="form-label" for="telefono">Telefono</label>
      <div>
        <input class="form-control" type="tel" placeholder="Número" formControlName="telefono">
        <span class="invalid-feedback" *ngIf="formulario.controls['telefono'].errors && formulario.controls['telefono'].touched">
          Campo Requerido
        </span>
      </div>
    </div>

    <div class="col">
      <div>
       <button class="btn btn-primary" type="submit">Guardar</button>
      </div>
    </div>
  </div>
</form>
